<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<bean class="s5.p01.jsr250.xml.BeanOne" lazy-init="true" depends-on="beanTwo,beanThree" />
    <bean class="s5.p01.jsr250.xml.BeanThree" name="beanThree" lazy-init="true"  />
    <bean class="s5.p01.jsr250.xml.BeanTwo" name="beanTwo" lazy-init="true"  />
</beans>