<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="org.springframework.beans.factory.config.PropertiesFactoryBean" id="myprop">
        <property name="locations">
            <list>
                <value>file:D:\springClass\beanDefinition\src\main\java\s5\p08\injectPropertiseClassXml\datasource.properties</value>
            </list>
        </property>
    </bean>

    <bean class="s5.p08.injectPropertiseClassXml.BeanWithInjcetProp" >
        <property name="properties">
            <ref bean="myprop"></ref>
        </property>
    </bean>
</beans>