<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="p6.diWithXml.MyOracleRepo" name="oracle" />
    <bean class="p6.diWithXml.MySqlRepo" name="mySqlRepo" />
    <!-- there are two way for di with nameSpace and tag -->
<!--    <bean class="p6.diWithXml.MeService" c:_0-ref="oracle" name="meService" />-->
<!--    <bean class="p6.diWithXml.MeService" name="meService" >-->
<!--        <constructor-arg name="repository"  >-->
<!--            <ref bean="oracle"></ref>-->
<!--        </constructor-arg>-->
<!--    </bean>-->
    <bean class="p6.diWithXml.MeService" name="meService">
        <property name="repository">
            <ref bean="oracle"></ref>
        </property>
    </bean>
</beans>