<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean name="beanOne" class="s5.p03.dependOn.BeanOne" lazy-init="true" depends-on="beanTwo,beanThree"></bean>
    <bean name="beanThree" class="s5.p03.dependOn.BeanThree" lazy-init="true"></bean>
    <bean name="beanTwo" class="s5.p03.dependOn.BeanTwo" lazy-init="true" ></bean>

</beans>