<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean name="mysql" class="p6.diWithXMLsetter.MySqlRepo" />
    <bean name="oracle" class="p6.diWithXMLsetter.MyOracleRepo" />
    <bean name="myservice" class="p6.diWithXMLsetter.MeService" p:repository-ref="mysql" />
</beans>